// Place all the styles related to the Files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.deal {
  background-color: #f9f9f9;
}

tr.grand_total {
  font-size: large;
  background-color: #faf7d2;
}
