%footer.footer
  %small
    = link_to "LivingSocial Data Challenge", 'TODO-root'
    by Arnab Deka
  %nav
    %ul
      %li= link_to "About",   'http://arnab.github.com/resume/'
      %li= link_to "Contact", 'http://twitter.com/arnab_deka/'
      %li= link_to "News",    'http://www.arnab-deka.com/'
