%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "LivingSocial Data Challenge", 'TODO-root', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",    'TODO-root'
          %li= link_to "Help",    '/help'
          %li= link_to "Sign in", 'TODO-signin'
